.redes-sociais {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    margin-right: 150px;
    
}
.redes-sociais img {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
    transition: 1.5s ease-out;
    border: 3px solid ;
    border-radius: 50px;
}



.redes-sociais  :hover{
    transform: scale(1.2);
    border-color: aquamarine;
}